*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #67727938;
}

.free_delivery{
    display: flex;
    justify-content: center;
    padding: 12px 10px;
    color: #f2f2f2;
    background-color: #05aff2;
    font-size: 16px;
    position: fixed;
    width: 100%;
}

.delivery_price{
    color: #242620;
}

.no_payment{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #1e2d7d;
    color: white;
}

.no_payment_text{
    font-size: 0.7rem;
    margin-top: 43px;
}

.nav{
    margin-top: 0.6px;
    display: flex;
    max-height: 170px;
    width: 100%;
    background-color: #1e2d7d;
    padding: 15px 0;
    justify-content: space-evenly;
    align-items: center;
}

.logo_image{
    width: 110px;
    height: 100px;
}

.search{
    display: flex;
    /* flex-grow: 1; */
    height: 34px;
    /* border: 1px solid red; */
    width: 60%;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
}

.search_input{
    width: 75%;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
}

.search_select{
    display: flex;
    align-items: center;
    padding: 5px 5px 6px 5px;
    border: none;
    border-left: 0.3px solid rgba(128, 128, 128, 0.197);
}

.search_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00badb;
    width: 35px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: antiquewhite;
}

.login{
    color: white;
    border-right: 1px solid gray;
    padding-right: 30px;
}

.login .login_text{
    font-size: 0.6em;
    color: #a3afef;
    margin-bottom: 5px;
}

.cartdiv{
    color: white;
    display: flex;
}

.fa-solidl{
    font-size: 25px;
}

.cart_counterdiv{
    width: 16px;
    height: 16px;
    background-color: #05aff2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6px;
    left: -5px;
}

.cart_counter{
    font-size: 10px;
}

.cart_text{
    margin-left: 20px;
}

.nav2{
    width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 12px;
}

.nav2_items{
    margin-left: 30px;
    padding: 20px 0;
    color: #677279;
}

.nav2 p:hover{
    color: #00badb;
}


.carousel{
z-index: -1;
}

.new_arrival{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px 10px 30px;
}

.new_arrival_text{
    color: #1e2d7d;
    font-weight: 700;
    margin-left: 20px;
    font-size: 1em;
}

.new_arrival a{
    text-decoration: none;
    font-size: 0.75em;
    color: #00badb;
    font-weight: 700;
}

.new_Arvl_box_containor{
    display: flex;
    justify-content: center;
}

.box1{
    width: 500px;
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.53);
    height: 500px;
    background-image: url(images/box1_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box2{
    width: 500px;
    background-color: #ffffff;
    border-top: 1px solid rgba(128, 128, 128, 0.53);
    border-bottom: 1px solid rgba(128, 128, 128, 0.53);
    border-right: 1px solid rgba(128, 128, 128, 0.53);
    height: 500px;
    padding: 10px 10px 5px 15px;
}

.box2 h3{
    line-height: 40px;
    color: #1e2d7d;
    margin-bottom: 30px;
}

.Box1_price{
    padding: 2px 10px;
    background-color: red;
    width: fit-content;
    color: white;
    border-radius: 5px;
}

.social_icons_div{
    width: 90%;
    display: flex;
    margin: 2px 10px;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom:0.5px solid #4d4f4a34;
}

.icon_link{
    text-decoration: none;
    color: #00badb;
    /* width: 60%; */
}

.social_icons{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.social_icons i:hover{
    cursor: pointer;
}