*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #67727938;
}

.free_delivery{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    color: #f2f2f2;
    background-color: #05aff2;
    font-size: 16px;
    position: fixed;
    width: 100%;
    max-height: 30px;
}

.delivery_price{
    color: #242620;
}

.no_payment{
    display: flex;
    justify-content: center;
    background-color: #1e2d7d;
    color: white;
    max-height: 200px;
    border-bottom: 0.5px solid rgba(255, 253, 253, 0.291);
}

.no_payment_text{
    font-size: 0.7rem;
    margin-top: 45px;
}

.nav{
    /* margin-top: 0.6px; */
    display: flex;
    max-height: 170px;
    width: 100%;
    background-color: #1e2d7d;
    padding: 15px 0;
    justify-content: space-evenly;
    align-items: center;
}

.logo_image{
    width: 110px;
    height: 100px;
}

.search{
    display: flex;
    height: 34px;
    width: 60%;
}

.search_input{
    width: 75%;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
}

.search_select{
    display: flex;
    align-items: center;
    padding: 5px 5px 6px 5px;
    border: none;
    border-left: 0.3px solid rgba(128, 128, 128, 0.197);
}

.search_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00badb;
    width: 35px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: antiquewhite;
}

.login{
    color: white;
    border-right: 1px solid gray;
    padding-right: 30px;
}

.login .login_text{
    font-size: 0.6em;
    color: #a3afef;
    margin-bottom: 5px;
}

.cartdiv{
    color: white;
    display: flex;
}

.fa-solidl{
    font-size: 25px;
}

.cart_counterdiv{
    width: 16px;
    height: 16px;
    background-color: #05aff2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6px;
    left: -5px;
}

.cart_counter{
    font-size: 10px;
}

.cart_text{
    margin-left: 20px;
}

.nav2{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 12px;
}

.nav2_items{
    margin-left: 30px;
    padding: 20px 0;
    color: #677279;
}

.nav2 p:hover{
    color: #00badb;
}


.carousel{
z-index: -1;
}

.new_arrival{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px 10px 40px;
}

.new_arrival_text{
    color: #1e2d7d;
    font-weight: 700;
    margin-left: 20px;
    font-size: 1em;
}

.new_arrival a{
    text-decoration: none;
    font-size: 0.75em;
    color: #00badb;
    font-weight: 700;
}

.new_Arvl_box_containor{
    display: flex;
    justify-content: center;
}

.box1{
    width: 500px;
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.53);
    height: 520px;
    background-image: url(images/box1_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box2{
    width: 500px;
    background-color: #ffffff;
    border-top: 1px solid rgba(128, 128, 128, 0.53);
    border-bottom: 1px solid rgba(128, 128, 128, 0.53);
    border-right: 1px solid rgba(128, 128, 128, 0.53);
    height: fit-content;
    padding: 10px 10px 5px 15px;
}

.box2 h3{
    line-height: 40px;
    color: #1e2d7d;
    margin-bottom: 30px;
}

.Box1_price{
    padding: 2px 10px;
    background-color: red;
    width: fit-content;
    color: white;
    border-radius: 5px;
    margin-top: -10px;
}

.social_icons_div{
    width: 90%;
    display: flex;
    margin: 2px 10px;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom:0.5px solid #4d4f4a34;
}

.icon_link{
    text-decoration: none;
    color: #00badb;
    font-size: 0.9em;
}

.social_icons{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.social_icons i:hover{
    cursor: pointer;
}

.box2_other_text{
    margin-left: 10px;
}

.color_div{
    margin: 10px 0 5px 0;
    font-size: 0.9em;
}

.three_color_div{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.black-color{
    background-color: black;
    width: 22px;
    height: 22px;
}

.yellow_border_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid blue;
    margin: 0 10px;
    border-radius: 2px;
}

.yelow-color{
    background-color: #ffa500;
    width: 22px;
    height: 22px;
}

.blue-color{
    background-color: #0000ff;
    width: 22px;
    height: 22px;
}

.style_div{
    margin: 10px 0;
    font-size: 0.9em;
}

.hour_warranty{
    padding: 12px 20px;
    border: 1px solid#00bada;
    color: #00bada;
    border-radius: 5px;
    font-size: 0.8em;
}

.box2_price_div{
    font-size: 0.9em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.price_tag{
    font-size: 1.2em;
}

.price_number{
    color: red;
    font-size: 1.5em;
}

.price_discount{
    text-decoration: line-through;
}

.quantity_div{
    font-size: 0.95em;
    margin-bottom: 10px;
    display: flex;
}

.add_remove{
    border: 1px solid rgba(110, 110, 110, 0.669);
    width: fit-content;
}
.minus, .one, .plus{
    width: 20px;
    height: 20px; 
    padding: 3px 5px;
}

.one{
    width: 22px;
    border-right: 1px solid rgba(110, 110, 110, 0.669);
    border-left: 1px solid rgba(110, 110, 110, 0.669);
}

.add_to_cart_btn{
    padding: 10px 30px;
    background-color: #00badb;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 195px;
    margin-right: 15px;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 18px;
}

.buy_now_btn{
    padding: 10px 30px;
    background-color: #1e2d7d;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 195px;
    font-size: 0.9em;
}

.b-color{
    color: #1e2d7d;
    font-weight: 700;
}
.d-color{
    color: #677279c5;
    font-weight: 700;
}

.top_sale_div{
    width: 89.5%;
    border: 1px solid #6772795b;
    background-color: #ffffff;
    /* height: 200px; */
    display: flex;
    margin-left: 5%;
}

.ts_box1 img{
    width: 220px;
}

.text_ts{
    margin-left: 20px;
    font-size: 1em;
}

.item_price{
    color: #00badb;
}

.ts{
    margin-left: 20px;
}

.ts_box1{
    border-right: 1px solid #6772794b;
    width: 26%;
}

.col-2{
    border-top: none;
}